@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.383);
    justify-content: center;
    
}

p{
    text-align: center;
    font-weight: 900;
}

.para__class{
    margin-top: 8px;
}

section{
    align-content: center;
    margin-bottom: 20px;
    width: 100%;
}

marquee{
    padding: 5px;
}

.flyer__logo{
    border-radius: 130px;
    width: 800px;
    padding: 2px;
    border: green 10px dotted;
    box-shadow: red 5px 5px 3px 1px;
}

.marq__1{
    display: flex;
}

.marq__img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    }

    .tryipleximg__flyer-responsive{
        width: 80px;
        border-radius: 130px;
        border: red 10px dotted;
        box-shadow: white 0px 0px 25px 2px;
    }
    
    
    figure{
        align-content: center;
        height: 50px;
        margin-bottom: 1px;
        text-align: center;
        
    }
    
    .color1{    
        background-color:green;
        border: dotted red 10px;
        padding: 5px;
        border-radius: 50px;
        color: red;
        box-shadow:red 0px 3px 10px 2px;
        font-size: 70px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    
    .color2{
        background-color:red;
        border: dotted green 10px;
        border-radius: 50px;
        color:white;
        box-shadow:green 0px 3px 10px 2px;
        font-size: 30px;
        font-weight:900;
    }
    
    .color__padding{
        padding: 5px;
    }
    
    #flyer__responsive{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .flyer__responsive-header{
        margin:80px 0px;
    }

    
    .flyer__border{
        margin: 20px;
        background-color: rgba(0, 128, 28, 0.536);
        padding: 10px 0px;
        border-radius: 20px;
        align-content: center;
    }
    
    .marq__img-still{
        bottom: -1010px;
        width: 930px;
        height: 200px;
        border-radius: 10px; 
    }
    
    time{
        margin: 0px;
        font-size: 25px;
        color: white;
        top: 1620px;
    }
    
    .flyer__para{
        color: white;
        font-weight: 900;
        font-size: 20px;   
}

.red__bow{
    text-align: center;
    height: 230px;
    width: 100%;   
        }

    .presented__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: blue;
        text-align: center;
        padding: 4px;
        font-size: 10px;
    }
    
    .presented {
        border-radius: 8px;
        top: 20px;
        position: absolute;
        border: green solid 4px;
        background-color: red;
        font-size: 14px;
        padding: 2px;
    }
    
    .locations{
        flex-direction: row;
        color: white;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
    }
    
    .location{
        border-radius: 10px;
        background-color: green;
        padding: 12px 1px;
        border: dotted red 5px;
        margin: 10px;
        height: 100%;
        width: 100%;
    }
    
    .location__color{
        background-color: red;
        color: white;
        border: dotted white 2px;
    }
    
    .socks__img{
        border: green solid 5px;
        height: 100px;
        width: 150px;
        border-radius: 30px;
        animation:floaters 2500ms alternate-reverse infinite;
        box-shadow: black 1px 4px 15px 4px;
        margin: 10px;
        
    }

    .deoderant__img{
        margin: 10px;
        border: green solid 5px;
        border-radius: 30px;
        width: 150px;
        height: 100px;
        animation:floaters 2200ms alternate-reverse infinite;
        box-shadow: black 1px 4px 15px 4px;
    }
    
    .blanket__img{
        margin: 10px;
        box-shadow: black 1px 4px 15px 4px;
        border: green solid 5px;
        border-radius: 30px;
        width: 150px;
        height: 100px;
        animation:floaters 1800ms alternate-reverse infinite;
    }
    

.end__header{
    font-size: 50px;
    color: white;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

.end__credits{
    display: flex;
    flex-direction: column;
}

.webmaster{
    text-align: center;
    margin-bottom: 5px;
    color: black;
    font-size:12px;
}

.Objects{
    margin:15px 0px;
}

.object__names {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: white;
    
    
}
.object1 {
    margin-right: 20px;
}

.object2{
    margin-right: 5px;
}

.object3{
    margin-left: 12px;
}

@keyframes floaters {
    0% {
        transform:translateY(20px);
    }
    100% {
        
        transform: translateY(5px);
    }