@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.383);
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    font-weight: 900;
}

.para__class{
    margin-top: 8px;
}

section{
    align-content: center;
    margin-bottom: 100px;
}

marquee{
    padding: 5px;
}

.flyer__banner3{
    top: 410px;
    max-width: 70px;
    left: 530px;
    position: absolute;
    border-radius:90px ;
    height: 90px;
    width: 50px;
}
.flyer__banner2{
    top: 240px;
    max-width: 850px;
    right: 590px;
    position: absolute;
    border-radius:90px ;
    height: 170px;
    width: 170px;
}
.flyer__banner1{
    top: 240px;
    max-width: 850px;
    left: 410px;
    position: absolute;
    border-radius:90px ;
    height: 170px;
    width: 170px;
}
.flyer__logo{
    max-width: 1200px;
    border-radius: 130px;
    width: 800px;
    padding: 2px;
    border: green 10px dotted;
    box-shadow: red 5px 5px 3px 1px;
}

.marq__1{
    display: flex;
}

.marq__img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    }

.tryipleximg__flyer-responsive{
    max-width: 1200px;
    border-radius: 130px;
    width: 280px;
    box-shadow: red 1px 2px 3px 12px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: red 10px dotted;
    box-shadow: white 0px 0px 25px 2px;
    opacity: .8;
}

.color1{
    margin-bottom: 4px;
    background-color:green;
    border: dotted red 10px;
    padding: 5px;
    border-radius: 50px;
    color: red;
    box-shadow:red 0px 3px 10px 2px;
    font-size: 70px;
}

.color2{
    background-color:red;
    border: dotted green 10px;
    border-radius: 50px;
    color:white;
    box-shadow:green 0px 3px 10px 2px;
    font-size: 30px;
    font-weight:900;
}

#flyer__responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom:220px;

    
}

.flyer__responsive-header{
    margin: 5px;
    padding:5px ;
    
    
}

.flyer__border{
    margin: 20px;
    background-color: rgba(0, 128, 28, 0.536);
    padding: 10px 0px;
    border-radius: 20px;
}

.top__banner{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 20px;
}

.flyer__banner4{
    border-radius:20px ;
    height: 140px;
    width: 385px;
    opacity: .3;
    margin-right: 80px;
    align-items: center;
    justify-content: center;
}

.flyer__banner5{
    align-items: center;
    justify-content: center;
    opacity: .3;
    border-radius:20px ;
    height: 140px;
    width: 385px;
    margin-left: 80px;
}

.marq__img-still{
    bottom: -1010px;
    width: 930px;
    height: 150px;
    border-radius: 10px;
    
}

time{
    margin: 0px;
    font-size: 25px;
    color: white;
    top: 1620px;
}

.flyer__para{
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.presented {
    border: green solid 4px;
    background-color: red;
    color: blue;
    font-size: medium;
    padding: 3px;
    border-radius: 8px;
}

.locations{
    margin: 10px;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    position: absolute;
    top: 678px;
    
}

.location{
    width: 180px;
    border-radius: 10px;
    background-color: green;
    padding: 12px 2px;
    border: dotted red 5px;
    margin: 10px;
    height: 130px;
}

.location__color{
    background-color: red;
    color: white;
    border: dotted white 5px;
}

.socks__img{
    height: 100px;
    width: 250px;
    border-radius: 30px;
    animation:floaters 2500ms alternate-reverse infinite;
}

.deoderant__img{
    border-radius: 30px;
    width: 300px;
    height: 100px;
    animation:floaters 2200ms alternate-reverse infinite;
}

.blanket__img{
    border-radius: 30px;
    width: 250px;
    height: 100px;
    animation:floaters 1800ms alternate-reverse infinite;
}

.red__bow{
    margin-top: 50px;
    width: 930px;
}

.end__header{
    font-size: 50px;
    color: white;
    font-weight: 900;
}

.webmaster{
    margin-bottom: 5px;
    color: black;
    font-size: large;
}

@keyframes floaters {
    0% {
        transform:translateY(20px);
    }
    100% {
        
        transform: translateY(5px);
    }